<html>
<head>
    <style>
        body {
            background: url('/Images/q8.jpg');
            background-repeat: no-repeat;
            background-size: 1920px 1080px;
            color: ghostwhite;
        }

        div {
            color: white;
        }
    </style>
</head>
<body>

    @{ ViewBag.Title = "UserAccount"; }

    <h2 style="color:black">User Account</h2>
    @if (ViewBag.Gender == "Male")
    {
        <h4 style = "color:black" > Welcome Mr. @ViewBag.Message</h4>
    }
    else if(ViewBag.Gender == "Female")
    {
        <h4 style="color:black">Welcome Ms/Mrs. @ViewBag.Message </h4>
    }
    else
    {
        <h4 style="color:black">Welcome @ViewBag.Message </h4>
    }
    

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Help", "Raise Ticket", "User", new { Style = "color:Green" }, null)</li>
                <li>@Html.ActionLink("Apply Loan", "ApplyLoan", "User")</li>
                <li>@Html.ActionLink("Log Out","UserLogOut", "User")</li>

            </ul>
        </div>
    </div>
</body>
</html>
